@charset "utf-8";

@import url("1997.css");

@font-face {
	src:
		local("Source Sans Pro"),
		url("/fonts/source-sans-pro.woff2");
	font-family: "Source Sans Pro";
	font-display: swap;
}
@font-face {
	src:
		local("Source Code Pro"),
		url("/fonts/source-code-pro.woff2");
	font-family: "Source Code Pro";
	font-display: swap;
}

:root {
	--emoji-fonts:
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Noto Color Emoji",
		"Twemoji";
	--fonts:
		"Source Sans Pro",
		"sans-serif",
		var(--emoji-fonts);
	--monospace-fonts:
		"Source Code Pro",
		"monospace",
		var(--emoji-fonts);
	--heading-fonts:
		"Source Sans Pro",
		"sans-serif",
		var(--emoji-fonts);
	--border-style: solid;
	--border-width: 2px;
	--border-radius: 4px;
	--background-color: #1E191D;
	--foreground-color: #FFFFFFCF;
	--subtle-color: #FFFFFF3F;
	--shadow-color: #0000007F;
	--accent-color: #FBAAC0;
}
@media (prefers-color-scheme: light) {
	:root {
		--background-color: #F0EDE8;
		--foreground-color: #000000CF;
		--subtle-color: #0000003F;
		--accent-color: #AD1429;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-color) var(--background-color);
}

::selection {
	background: var(--foreground-color);
	color: var(--background-color);
}

body {
	background: var(--background-color);
	cursor: default;
}

a, summary {
	cursor: pointer !important;
}

a:hover, summary:hover {
	text-decoration: none;
	opacity: 0.5;
}

.breadcrumbs a, .page-title a,
h1, h2, h3, h4, h5, h6 {
	color: var(--foreground-color);
}

.page-wrapper {
	margin: 0;
	border: none;
	box-shadow: none;
}

.breadcrumbs a:first-child::before {
	width: 0;
	margin: 0;
	content: "";
}

.links a::before, summary::before {
	content: "";
	width: auto;
	margin: 0;
	vertical-align: unset;
}

.links a.page::before, .links a.node::before {
	content: "/";
}
.links a.link::before {
	content: "@";
}

summary::before {
	content: "▼";
}
details[open] > summary::before {
	content: "▲";
}

.buttons {
	display: none;
}
