@charset "utf-8";

@keyframes background-scroll-x {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 960px;
	}
}
@keyframes background-scroll-y {
	0% {
		background-position-y: 0;
	}
	100% {
		background-position-y: 960px;
	}
}

:root {
	--emoji-fonts: "";
	--fonts: serif, var(--emoji-fonts);
	--monospace-fonts: monospace, var(--emoji-fonts);
	--heading-fonts: sans-serif, var(--emoji-fonts);
	--border-style: outset;
	--border-width: 2px;
	--border-radius: 0;
	--background-color: #FFFFFF;
	--foreground-color: #000000;
	--subtle-color: #7F7F7F;
	--shadow-color: #0000007F;
	--accent-color: #0000FF;
	--background-scroll-x: background-scroll-x 32s infinite linear;
	--background-scroll-y: background-scroll-y 32s infinite linear;
	--background-scroll-xy:
		background-scroll-x 45.254833995939045s infinite linear,
		background-scroll-y 45.254833995939045s infinite linear;
}

* {
	scrollbar-color: var(--foreground-color) transparent;
	scrollbar-width: thin;
}

::selection {
	background: var(--foreground-color);
	color: var(--background-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-family: var(--fonts);
	font-size: 16pt;
	color: var(--foreground-color);
	background: var(--background-color);
}

.page-wrapper {
	flex-grow: 1;
	min-width: 0;
	max-width: 32em;
	padding: 16px 32px;
}
body.home .page-wrapper {
	flex-grow: 0;
	max-width: 13em;
}

@media (max-width: 745px) {
	body:not(.home) .page-wrapper {
		margin: 0;
		border: none;
	}
}

.page-wrapper * {
	max-width: 100%;
	overflow-wrap: break-word;
}

hr {
	border:
		var(--border-style)
		calc(var(--border-width) / 2)
		var(--subtle-color);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-fonts);
}

a, summary {
	text-decoration: none;
	color: var(--accent-color);
}

summary {
	cursor: pointer;
}

a:hover, summary:hover {
	text-decoration: underline;
}

a:hover img {
	filter: contrast(1000%);
}

pre, code, summary,
.breadcrumbs a, .page-title, .links a {
	font-family: var(--monospace-fonts);
}

pre, code {
	box-sizing: border-box;
	padding: 2px 4px;
	font-size: 0.875em;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	border-radius: var(--border-radius);
	overflow: auto;
}

pre *, code * {
	padding: 0;
	font-size: inherit;
	border: none;
}

blockquote {
	margin-left: 0;
	margin-right: 1em;
	padding-left: 1em;
	border-left:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
}

.metadata {
	font-size: 0.75em;
	opacity: 0.75;
}

.licensing {
	margin-top: 1rem;
	opacity: 0.5;
	font-size: 0.5em;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs a {
	margin-right: 0.5em;
}

.breadcrumbs a:not(:first-child)::before,
body:not(.home) .page-title a::before {
	content: "/";
}

.page-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.links a, summary {
	display: block;
	line-height: 2;
	font-size: 1.125em;
}

summary::-webkit-details-marker {
	display: none;
}

.buttons > hr {
	margin-bottom: 1em;
}

.album {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0.5em 0;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	border-radius: var(--border-radius);
}

.album > .cover {
	flex-shrink: 0;
	width: 256px;
	height: 256px;
}

.album > .description {
	flex-basis: 19em;
	flex-grow: 1;
	margin: 8px;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style-type: none;
}

.page-item.disabled * {
	color: var(--subtle-color);
}
.page-item.disabled .page-link:hover {
	opacity: inherit;
}

.page-item.active .page-link {
	color: var(--background-color);
	background: var(--accent-color);
}

.page-link {
	display: block;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	border-radius: 50%;
}

.music, .buttons {
	display: none
}

.theme-switcher {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 16px;
	height: 16px;
	appearance: none;
	opacity: 0;
}
