@charset "utf-8";

@import url("1991.css");

@font-face {
	src:
		local("Source Serif Pro"),
		url("/fonts/source-serif-pro.woff2");
	font-family: "Source Serif Pro";
	font-display: swap;
}
@font-face {
	src:
		local("Courier Prime"),
		url("/fonts/courier-prime.woff2");
	font-family: "Courier Prime";
	font-display: swap;
}
@font-face {
	src:
		local("Comic Neue"),
		url("/fonts/comic-neue.woff2");
	font-family: "Comic Neue";
	font-display: swap;
}

:root {
	--emoji-fonts: "";
	--fonts:
		"Source Serif Pro",
		"Times New Roman",
		serif,
		var(--emoji-fonts);
	--monospace-fonts:
		"Courier Prime",
		"Courier New",
		monospace,
		var(--emoji-fonts);
	--heading-fonts:
		"Comic Neue",
		"Comic Sans MS",
		sans-serif,
		var(--emoji-fonts);
	--background-image: #007F7F;
	--background-color: #007F00D8;
	--foreground-color: #FFFFFF;
	--subtle-color: #FFFFFF69;
	--shadow-color: #0000007F;
	--accent-color: #FFFF00;
}

* {
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	scrollbar-color: #888888 #C0C0C0;
	scrollbar-width: auto;
}

::selection {
	background: #00007F;
	color: #FFFFFF;
}

body {
	cursor: url("/images/cursors/default.png"), default;
	background: var(--background-image);
}

.page-wrapper {
	margin: 16px 0;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	background: var(--background-color);
	box-shadow: 16px 16px var(--shadow-color);
}

@media (max-width: 745px) {
	body:not(.home) .page-wrapper {
		margin: 0;
		border: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: #FF99CC;
}

a, summary {
	cursor: url("/images/cursors/pointer.png"), pointer;
}

.breadcrumbs a {
	color: #00FF00;
}

.breadcrumbs a:first-child::before {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	content: url("/images/icons/globe.png");
}

.page-title a {
	color: #00FFFF;
}

.links a::before {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	vertical-align: middle;
	content: url("/images/icons/web-page.png");
}

.links a.page::before {
	content: url("/images/icons/document.png");
}
.links a.node::before {
	content: url("/images/icons/folder.png");
}
.links a.link::before {
	content: url("/images/icons/profile.png");
}

summary::before {
	margin-right: 8px;
	width: 16px;
	height: 16px;
	vertical-align: baseline;
	content: url("/images/icons/more.png");
}
details[open] > summary::before {
	content: url("/images/icons/less.png");
}
