@charset "utf-8";

:root {
	--emoji-fonts:
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Noto Color Emoji",
		"Twemoji";
	--border-width: 2px;
	--border-radius: 4px;
	--background-color: #1E191D;
	--foreground-color: #FFFFFFCF;
	--subtle-color: #FFFFFF3F;
	--accent-color: #FBAAC0;
}

* {
	font-family: "Source Sans Pro", "sans-serif", var(--emoji-fonts);
	color: var(--foreground-color);
	transition: 0.1s;
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-color) var(--subtle-color);
}

::selection {
	background: var(--foreground-color);
	color: var(--background-color);
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("source-sans-pro.woff2");
}
@font-face {
	font-family: "Source Code Pro";
	src: url("source-code-pro.woff2");
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 16pt;
	background: var(--background-color);
}

.page-wrapper {
	max-width: 32em;
	margin: 16px;
}
body:not(.home) .page-wrapper {
	flex-grow: 1;
}

hr {
	border: solid calc(var(--border-width) / 2) var(--subtle-color);
}

ul, ol {
	padding-right: 40px;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a.page::before {
	content: "/";
}
a.link::before {
	content: "@";
}

a:hover {
	opacity: 0.5;
}

pre, code,
.breadcrumbs, .breadcrumbs a,
.links, .links a,
.page-title {
	font-family: "Source Code Pro", "monospace";
}

pre, code {
	padding: 2px 4px;
	font-size: 0.875em;
	border: solid var(--border-width) var(--subtle-color);
	border-radius: var(--border-radius);
	overflow: auto;
}

pre *, code * {
	padding: 0;
	font-size: inherit;
	border: none;
}

blockquote {
	margin-left: 0;
	margin-right: 1em;
	padding-left: 1em;
	border-left: solid var(--border-width) var(--subtle-color);
}

.metadata {
	font-size: 0.75em;
	color: var(--subtle-color);
}

.metadata * {
	color: inherit;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs a {
	margin-right: 0.5em;
	color: var(--foreground-color);
}

.breadcrumbs a:not(:first-child)::before,
body:not(.home) .page-title a::before {
	content: "/";
}

.page-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.page-title a {
	font-family: inherit;
	color: var(--foreground-color);
}

.links a {
	display: block;
	line-height: 2;
	font-size: 1.125em;
}

#more > *:not(:first-child) {
	display: none;
}

#more:target > *:first-child {
	display: none;
}
#more:target > *:not(:first-child) {
	display: block;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style-type: none;
}

.page-item.disabled * {
	color: var(--subtle-color);
}
.page-item.disabled .page-link:hover {
	opacity: inherit;
}

.page-item.active .page-link {
	color: var(--background-color);
	background: var(--accent-color);
}

.page-link {
	display: block;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	border-radius: 50%;
}
