@charset "utf-8";

:root {
	--border-radius: 4px;
	--background-color: #000000;
	--foreground-color: #FFFFFFCF;
	--subtle-color: #FFFFFF3F;
	--accent-color: #FBAAC0;
	--emoji-fonts:
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Noto Color Emoji",
		"Twemoji"
}

* {
	font-family: "Source Sans Pro", "sans-serif", var(--emoji-fonts);
	color: var(--foreground-color);
	transition: 0.1s;
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-color) var(--subtle-color);
}

::selection {
	background: var(--foreground-color);
	color: var(--background-color);
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("source-sans-pro.woff2");
}
@font-face {
	font-family: "Source Code Pro";
	src: url("source-code-pro.woff2");
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 18pt;
	background: var(--background-color);
}

main {
	max-width: 30em;
	margin: 16px;
}

hr {
	border: solid 1px var(--subtle-color);
}

ul, ol {
	padding-right: 40px;
}

nav, nav a, #links, #links a, pre, code {
	font-family: "Source Code Pro", "monospace";
}

pre, code {
	padding: 2px 4px;
	font-size: 0.875em;
	border: solid 1px var(--subtle-color);
	border-radius: var(--border-radius);
	overflow: auto;
}

pre *, code * {
	padding: 0;
	font-size: inherit;
	border: none;
}

nav {
	margin: 8px 0;
	font-size: 1.25em;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	opacity: 0.5;
}

nav a {
	display: block;
	width: 100%;
	font-size: inherit;
	color: var(--foreground-color);
}
nav a:not(:first-child)::before {
	content: "/";
}

#links a {
	display: block;
	width: 100%;
	line-height: 48px;
}

#more-links {
	display: none;
}

#more:target > a {
	display: none;
}
#more:target > #more-links {
	display: block;
}
