@charset "utf-8";

@font-face {
	src:
		local("Source Sans Pro"),
		url("/fonts/source-sans-pro.woff2");
	font-family: "Source Sans Pro";
	font-display: swap;
}
@font-face {
	src:
		local("Source Code Pro"),
		url("/fonts/source-code-pro.woff2");
	font-family: "Source Code Pro";
	font-display: swap;
}

:root {
	--emoji-fonts:
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Noto Color Emoji",
		"Twemoji";
	--fonts:
		"Source Sans Pro",
		"sans-serif",
		var(--emoji-fonts);
	--monospace-fonts:
		"Source Code Pro",
		"monospace",
		var(--emoji-fonts);
	--border-style: solid;
	--border-width: 2px;
	--border-radius: 4px;
	--background-color: #1E191D;
	--foreground-color: #FFFFFFCF;
	--subtle-color: #FFFFFF3F;
	--shadow-color: #0000007F;
	--accent-color: #FBAAC0;
}
@media (prefers-color-scheme: light) {
	:root {
		--background-color: #F0F0E0;
		--foreground-color: #000000CF;
		--subtle-color: #0000003F;
		--accent-color: #AD1429;
	}
}

* {
	font-family: var(--fonts);
	color: var(--foreground-color);
	transition: 0.1s;
	scrollbar-width: thin;
	scrollbar-color: var(--foreground-color) var(--subtle-color);
}

::selection {
	background: var(--foreground-color);
	color: var(--background-color);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 16pt;
	background: var(--background-color);
}

.only-in-1997 {
	display: none;
}

.page-wrapper {
	flex-grow: 1;
	min-width: 0;
	max-width: 32em;
	margin: 16px;
}
body.home .page-wrapper {
	flex-grow: 0;
	max-width: 16em;
}

hr {
	border:
		var(--border-style)
		calc(var(--border-width) / 2)
		var(--subtle-color);
}

ul, ol {
	padding-right: 40px;
}

a, summary {
	color: var(--accent-color);
	text-decoration: none;
}

summary {
	cursor: pointer;
}

a.page::before {
	content: "/";
}
a.link::before {
	content: "@";
}

summary::-webkit-details-marker {
	display: none;
}
summary::before {
	content: "▾";
}
details[open] > summary::before {
	content: "▴";
}

a:hover, summary:hover {
	opacity: 0.5;
}

main img {
	max-width: 100%;
}

pre, code, summary,
.breadcrumbs, .breadcrumbs a,
.links, .links a,
.page-title {
	font-family: var(--monospace-fonts);
}

pre, code {
	box-sizing: border-box;
	padding: 2px 4px;
	font-size: 0.875em;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	border-radius: var(--border-radius);
	overflow: auto;
}

pre *, code * {
	padding: 0;
	font-size: inherit;
	border: none;
}

blockquote {
	margin-left: 0;
	margin-right: 1em;
	padding-left: 1em;
	border-left:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
}

.metadata {
	font-size: 0.75em;
	opacity: 0.5;
}

.licensing {
	margin-top: 1rem;
	opacity: 0.25;
	font-size: 0.5em;
}

.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs a {
	margin-right: 0.5em;
	color: var(--foreground-color);
}

.breadcrumbs a:not(:first-child)::before,
body:not(.home) .page-title a::before {
	content: "/";
}

.page-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.page-title a {
	font-family: inherit;
	color: var(--foreground-color);
}

.links a, summary {
	display: block;
	line-height: 2;
	font-size: 1.125em;
}

.album {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0.5em 0;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	border-radius: var(--border-radius);
}

.album > .cover {
	flex-shrink: 0;
	width: 256px;
	height: 256px;
}

.album > .description {
	flex-basis: 19em;
	flex-grow: 1;
	margin: 8px;
}

.pagination {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style-type: none;
}

.page-item.disabled * {
	color: var(--subtle-color);
}
.page-item.disabled .page-link:hover {
	opacity: inherit;
}

.page-item.active .page-link {
	color: var(--background-color);
	background: var(--accent-color);
}

.page-link {
	display: block;
	width: 1.5em;
	height: 1.5em;
	text-align: center;
	border-radius: 50%;
}
