@charset "utf-8";

@font-face {
	src:
		local("Source Serif Pro"),
		url("../fonts/source-serif-pro.woff2");
	font-family: "Source Serif Pro";
	font-display: swap;
}
@font-face {
	src:
		local("Courier Prime"),
		url("../fonts/courier-prime.woff2");
	font-family: "Courier Prime";
	font-display: swap;
}

:root {
	--fonts:
		"Source Serif Pro",
		"Times New Roman",
		"sans-serif",
		var(--emoji-fonts);
	--monospace-fonts:
		"Courier Prime",
		"Courier New",
		"monospace",
		var(--emoji-fonts);
	--border-radius: 0;
	--background-color: #111111;
	--foreground-color: #FFFFFFCC;
	--subtle-color: #FFFFFF33;
	--accent-color: #FFAACC;
	--shadow-color: #00000077;
}
@media (prefers-color-scheme: light) {
	:root {
		--background-color: #EEEEEE;
		--foreground-color: #000000CC;
		--subtle-color: #00000033;
		--accent-color: #AA1122;
	}
}

* {
	transition: none;
}

.page-wrapper {
	padding: 16px;
	border: outset var(--border-width) var(--subtle-color);
	box-shadow: 16px 16px var(--shadow-color);
}

hr {
	border-style: inset;
}

a:hover {
	opacity: 1;
	text-decoration: underline;
}

.buttons {
	max-width: 16em;
	margin-top: 1em;
}
