@charset "utf-8";

@font-face {
	src:
		local("Source Serif Pro"),
		url("/fonts/source-serif-pro.woff2");
	font-family: "Source Serif Pro";
	font-display: swap;
}
@font-face {
	src:
		local("Courier Prime"),
		url("/fonts/courier-prime.woff2");
	font-family: "Courier Prime";
	font-display: swap;
}

@keyframes background-scroll-x {
	0% {
		background-position-x: 0;
	}
	100% {
		background-position-x: 960px;
	}
}
@keyframes background-scroll-y {
	0% {
		background-position-y: 0;
	}
	100% {
		background-position-y: 960px;
	}
}

:root {
	--emoji-fonts: "";
	--fonts:
		"Source Serif Pro",
		"Times New Roman",
		"sans-serif",
		var(--emoji-fonts);
	--monospace-fonts:
		"Courier Prime",
		"Courier New",
		"monospace",
		var(--emoji-fonts);
	--border-style: outset;
	--border-radius: 0;
	--background-image: #007F7F;
	--background-color: #007F00D8;
	--foreground-color: #FFFFFF;
	--subtle-color: #FFFFFF69;
	--accent-color: #FFFF00;
	--background-scroll-x: background-scroll-x 32s infinite linear;
	--background-scroll-y: background-scroll-y 32s infinite linear;
	--background-scroll-xy:
		background-scroll-x 45.254833995939045s infinite linear,
		background-scroll-y 45.254833995939045s infinite linear;
}

* {
	text-align: center;
	transition: none;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	scrollbar-width: auto;
	scrollbar-color: #888888 #C0C0C0;
}

::selection {
	background: #00007F;
	color: #FFFFFF;
}

body {
	cursor: url("/images/cursors/default.png"), default;
	background: var(--background-image);
}

.only-in-1997 {
	display: block;
}

.page-wrapper {
	padding: 16px;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	background: var(--background-color);
	box-shadow: 16px 16px var(--shadow-color);
}

h1, h2, h3, h4, h5, h6 {
	font-style: italic;
	color: #FF00FF;
}

.links a::before {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 8px;
	vertical-align: middle;
	content: url("/images/icons/web-page.png");
}

a.page::before {
	content: url("/images/icons/document.png");
}
a.node::before {
	content: url("/images/icons/folder.png");
}
a.link::before {
	content: url("/images/icons/profile.png");
}
a.more::before {
	width: 16px;
	height: 16px;
	vertical-align: baseline;
	content: url("/images/icons/more.png");
}

a:hover {
	opacity: 1;
	text-decoration: underline;
	cursor: url("/images/cursors/pointer.png"), pointer;
}

a:hover img {
	filter: contrast(1000%);
}

pre, code {
	max-width: calc(100vw - 64px);
}

.buttons {
	margin-top: 1em;
}

.breadcrumbs {
	justify-content: center;
}

.breadcrumbs a {
	color: #00FF00;
}

.breadcrumbs a:first-child::before {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 8px;
	content: url("/images/icons/globe.png");
}

.page-title a {
	font-style: normal;
	color: #00FFFF;
}

.album {
	background: #0000FF;
}
