@charset "utf-8";

@font-face {
	src:
		local("Source Serif Pro"),
		url("../fonts/source-serif-pro.woff2");
	font-family: "Source Serif Pro";
	font-display: swap;
}
@font-face {
	src:
		local("Courier Prime"),
		url("../fonts/courier-prime.woff2");
	font-family: "Courier Prime";
	font-display: swap;
}

:root {
	--emoji-fonts: "";
	--fonts:
		"Source Serif Pro",
		"Times New Roman",
		"sans-serif",
		var(--emoji-fonts);
	--monospace-fonts:
		"Courier Prime",
		"Courier New",
		"monospace",
		var(--emoji-fonts);
	--border-style: outset;
	--border-radius: 0;
	--background-color: #007F00D8;
	--foreground-color: #FFFFFF;
	--subtle-color: #FFFFFF69;
	--accent-color: #FFFF00;
	--shadow-color: #00000077;
}

* {
	text-align: center;
	transition: none;
	image-rendering: -moz-crisp-edges;
	image-rendering: pixelated;
	scrollbar-width: auto;
	scrollbar-color: #888888 #C0C0C0;
	cursor: url("../images/cursors/default.png"), default;
}

.page-wrapper {
	padding: 16px;
	border:
		var(--border-style)
		var(--border-width)
		var(--subtle-color);
	background: var(--background-color);
	box-shadow: 16px 16px var(--shadow-color);
}

h1, h2, h3, h4, h5, h6 {
	font-style: italic;
	color: #FF00FF;
}

a:hover {
	opacity: 1;
	text-decoration: underline;
	cursor: url("../images/cursors/pointer.png"), pointer;
}

.buttons {
	max-width: 16em;
	margin-top: 1em;
}

.breadcrumbs {
	justify-content: center;
}

.breadcrumbs a {
	color: #00FF00;
}

.page-title a {
	font-style: normal;
	color: #00FFFF;
}
