<!DOCTYPE html>

<html lang="{{ $.Site.LanguageCode | default "en" }}">
	<head>
		{{ partial "title.html" . }}
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		{{ partial "description.html" . }}
		
		<meta property="og:type" content="{{ block "og-type" . }}website{{ end }}">
		<meta property="og:image" content="{{ absURL "/images/icon.png" }}">
		<meta property="og:url" content="{{ .Permalink }}">
		
		<link href="/images/icon.png" rel="icon">
		
		<link href="/styles/1997.css" rel="stylesheet" id="main-stylesheet">
		
		<style>
			{{ partial "background.css" . | safeCSS }}
		</style>
		
		<script src="/scripts/music.js" type="module"></script>
		<script src="/scripts/theme-switcher.js" type="module"></script>
	</head>
	
	<body {{ if .IsHome }} class="home" {{ end }}>
		<div class="page-wrapper">
			<header>
				{{ block "header" . }}
					{{ partial "breadcrumbs.html" . }}
					
					<div class="metadata">
						{{ block "metadata" . }}
								{{ partial "date.html" . }}
						{{ end }}
					</div>
					
					<hr>
				{{ end }}
			</header>
			
			<main>
				{{ block "main" . }}
					{{ block "before-content" . }}
						{{ partial "music.html" . }}
					{{ end }}
					
					{{ .Content }}
					
					{{ block "after-content" . }}
						{{ partial "links.html" . }}
					{{ end }}
				{{ end }}
			</main>
			
			<footer>
				{{ block "footer" . }}
					<div class="licensing">
						{{ block "licensing" . }}
								{{ partial "licensing.html" . }}
						{{ end }}
					</div>
				{{ end }}
			</footer>
		</div>
	</body>
</html>
