{{ define "partials/background" }}
	{{ if .Params.background }}
		--background-image:
			{{ if .Params.backgroundFallback }}
				{{ .Params.backgroundFallback }}
			{{ end }}
			url("/images/backgrounds/{{ .Params.background }}.png");
		
		{{ if eq .Params.backgroundScrollDirection "xy" }}
			--background-animation: var(--background-scroll-xy);
		{{ else if eq .Params.backgroundScrollDirection "x" }}
			--background-animation: var(--background-scroll-x);
		{{ else if eq .Params.backgroundScrollDirection "y" }}
			--background-animation: var(--background-scroll-y);
		{{ end }}
	{{ else if .Parent }}
		{{ partial "background" .Parent }}
	{{ end }}
{{ end }}

:root {
	{{ partial "background" . }}
}
