<!DOCTYPE html>

<html>
	<head>
		<title>{{ block "title" . }}
			{{ .Title }} | {{ .Site.Title }}
		{{ end }}</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="/style.css" rel="stylesheet">
	</head>
	
	<body lang="{{ $.Site.LanguageCode | default "en" }}">
		<main>
			<header>
				{{ block "header" . }}
					{{ partial "breadcrumbs.html" . }}
					
					<hr>
				{{ end }}
			</header>
			
			<article>
				{{ block "main" . }}{{ end }}
			</article>
			
			<footer>
				{{ block "footer" . }}{{ end }}
			</footer>
		</main>
	</body>
</html>
