{{ define "after-content" }}
	{{ partial "links.html" . }}
	<nav class="links">
		{{ range .Site.Data.links.primary }}
			<a href="{{ .link }}" class="link">{{ .site }}</a>
		{{ end }}
		
		<details>
			<summary>More links</summary>
			
			<hr>
			
			{{ range .Site.Data.links.secondary }}
				<a href="{{ .link }}" class="link">{{ .site }}</a>
			{{ end }}
			
			<details>
				<summary>Even more links</summary>
				
				<hr>
				
				{{ range .Site.Data.links.tertiary }}
					<a href="{{ .link }}" class="link">{{ .site }}</a>
				{{ end }}
			</details>
		</details>
	</nav>
	
	{{ partial "buttons.html" . }}
{{ end }}
