{{ define "title" }}
	{{ .Site.Title }}
{{ end }}

{{ define "footer" }}
	{{ partial "links.html" . }}
	<nav class="links">
		{{ range .Site.Data.links.main }}
			<a href="{{ .link }}" class="link">{{ .site }}</a>
		{{ end }}
		
		<div id="more">
			<a
				href="#more"
			>Show more links</a>
			
			<hr>
			
			{{ range .Site.Data.links.secondary }}
				<a href="{{ .link }}" class="link">{{ .site }}</a>
			{{ end }}
		</div>
	</nav>
	
	{{ if .Site.Params.timeDilation }}
		<hr>
		
		{{ partial "buttons.html" . }}
	{{ end }}
{{ end }}
