{{ define "title" }}
	{{ .Site.Title }}
{{ end }}

{{ define "footer" }}
	{{ partial "links.html" . }}
	<nav class="links">
		{{ range .Site.Data.links.primary }}
			<a href="{{ .link }}" class="link">{{ .site }}</a>
		{{ end }}
		
		<div id="more">
			<a
				href="#more"
				
				class="more"
			>More links</a>
			
			<hr>
			
			{{ range .Site.Data.links.secondary }}
				<a href="{{ .link }}" class="link">{{ .site }}</a>
			{{ end }}
			
			<hr>
			
			{{ range .Site.Data.links.tertiary }}
				<a href="{{ .link }}" class="link">{{ .site }}</a>
			{{ end }}
		</div>
	</nav>
	
	{{ if .Site.Params.timeDilation }}
		<div class="only-in-1997">
			<hr>
			
			{{ partial "buttons.html" . }}
		</div>
	{{ end }}
{{ end }}
