<!DOCTYPE html>

<html lang="{{ $.Site.LanguageCode | default "en" }}">
	<head>
		<title>{{ block "title" . }}
			{{ partial "title" . }}
		{{ end }}</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="/images/icon.png" rel="icon">
		
		<link href="/styles/1997.css" rel="stylesheet" title="1997">
		<link href="/styles/14292.css" rel="stylesheet" title="14292" disabled>
			
		<style>
			body {
				{{ partial "background.css" . | safeCSS }}
			}
		</style>
		
		<script src="/scripts/music.js" type="module"></script>
		<script src="/scripts/theme-switcher.js" type="module"></script>
	</head>
	
	<body {{ if .IsHome }} class="home" {{ end }}>
		<div class="page-wrapper">
			<header>
				{{ block "header" . }}
					{{ partial "breadcrumbs" . }}
					
					<div class="metadata">
						{{ block "metadata" . }}
								{{ partial "date" . }}
						{{ end }}
					</div>
					
					<hr>
				{{ end }}
			</header>
			
			<main>
				{{ partial "music" . }}
				
				{{ block "main" . }}{{ end }}
			</main>
			
			<footer>
				{{ block "footer" . }}{{ end }}
				
				<div class="licensing">
					{{ block "licensing" . }}
							{{ partial "licensing" . }}
					{{ end }}
				</div>
			</footer>
		</div>
	</body>
</html>
